{% import "macros/icon.html" as icon %}
{% import "macros/transform.html" as transform %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    {# SEO meta Tags #}
    <meta content="Veloren is a multiplayer voxel RPG written in Rust. It takes inspiration from games such as Cube World and Dwarf Fortress." name="description"/>
    <meta content="index, follow" name="robots"/>
    <meta content="#2cb3a8" name="theme-color"/>
    {# Twitter Card data #}
    <meta content="summary_large_image" name="twitter:card"/>
    <meta content="@velorenproject" name="twitter:site"/>
    {% if page.title %}
      <meta content="{{ page.title }}" name="twitter:title"/>
    {% else %}
      <meta content="Veloren" name="twitter:title"/>
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" name="twitter:description"/>
    {% else %}
      <meta content="The Veloren devblog website" name="twitter:description"/>
    {% endif %}
    {% if page.extra.banner is defined %}
      {% set url = page.extra.banner %}
      {% if url is containing("media.discordapp.net") %}
        {% set url = transform::to_discord_cdn(url=url) %}
      {% endif %}
      <meta content="{{ url }}" name="twitter:image"/>
    {% else %}
      <meta content="{{ get_url(path='Logo_Square.png') }}" name="twitter:image"/>
    {% endif %}
    {# Open Graph data #}
    <meta content="Veloren" property="og:title"/>
    <meta content="article" property="og:type"/>
    {% if page.permalink is defined %}
      <meta content="{{ page.permalink }}" property="og:url"/>
    {% else %}
      <meta content="https://veloren.net/" property="og:url"/>
    {% endif %}
    {% if page.extra.banner is defined %}
      {% set url = page.extra.banner %}
      {% if url is containing("media.discordapp.net") %}
        {% set url = transform::to_discord_cdn(url=url) %}
      {% endif %}
      <meta content="{{ url }}" property="og:image"/>
    {% else %}
      <meta content="{{ get_url(path='Logo_Square.png') }}" property="og:image"/>
    {% endif %}
    {% if page.description %}
      <meta content="{{ page.description }}" name="og:description"/>
    {% else %}
      <meta content="The Veloren devblog website" name="og:description"/>
    {% endif %}
    {# Enable responsiveness on mobile devices #}
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{ config.title }}</title>
    {# Stylesheet #}
    <link href="{{ get_url(path='veloren.css') }}" rel="stylesheet" type="text/css"/>
    {# Favicons #}
    <link href="{{ get_url(path='icons/favicon/apple-touch-icon.png') }}" rel="apple-touch-icon"/>
    <link href="{{ get_url(path='icons/favicon/icon-192.png') }}" rel="icon"/>
    <link href="{{ get_url(path='icons/favicon/manifest.json') }}" rel="manifest"/>
    <script defer src="{{ get_url(path='js/navbar.js') }}"></script>
    <script defer src="{{ get_url(path='js/motion-manager.js') }}"></script>
    {# RSS #}
    {% if config.generate_feed %}
      <link href="{{ get_url(path='rss.xml') }}" rel="alternate" title="RSS" type="application/rss+xml"/>
    {% endif %}
    {% block extra_head %}{% endblock extra_head %}
  </head>
  <body>
    <nav>
      <div class="navbar-section navbar-logo">
        <a class="navbar-item" href="{{ get_url(path='/') }}"><img alt="Veloren" src="{{ resize_image(path='../static/logo.png', width=142, height=40, op='fill') }}" width="142" height="40"/> </a>
      </div>
      <div class="navbar-section navbar-content" id="navbar-links">
        <a href="{{ get_url(path='download') }}" >
          {{ icon::load(path='static/icons/download.svg') }}
          <span>Download</span>
        </a>
        <a href="{{ get_url(path='account') }}">
          {{ icon::load(path='static/icons/account.svg') }}
          <span>Account</span>
        </a>
        <a href="https://book.veloren.net/" target="_blank" rel="noopener noreferrer" title="Opens in a new tab">
          {{ icon::load(path='static/icons/manual.svg') }}
          <span>Manual</span>
        </a>
        <a href="{{ get_url(path='joinus') }}">
          {{ icon::load(path='static/icons/join-us.svg') }}
          <span>Join Us</span>
        </a>
        <a href="https://opencollective.com/veloren" target="_blank" rel="noopener noreferrer" title="Opens in a new tab">
          {{ icon::load(path='static/icons/donate.svg') }}
          <span>Donate</span>
        </a>
      </div>
      <div class="navbar-section navbar-hamburger" onclick="toggleMobileMenu()">
        {{ icon::load(path='static/icons/menu.svg') }}
      </div>
    </nav>
    {% block header %}{% endblock header %}
    <main>
      {% block content %}{% endblock content %}
    </main>
    {% include "footer.html" %}
  </body>
</html>